/*

  Glacier Snippet
  Nested Grid Columns
  Logo: http://joeysharesthings.com/image/1f0Z3z0D102U

*/

$single-column: (100% - ($gutter * ($columns - 1))) / $columns;

@mixin column($number) {
  width: ($single-column * $number) + ($gutter * ($number - 1));
}

*[data-glacier="grid"] {
  width: $context;
  overflow: hidden;
}

*[data-row] {
  width: 100%;
  overflow: hidden;

  @for $i from 1 through $columns {
    *[data-column="#{$i}"] {
      @include column($i);
      float: left;
      margin-left: $gutter;

      @for $j from 1 through ($i - 1) {
        *[data-column] *[data-column="#{$j}"] {
          @include nested-column($j, $i);
        }
      }
    }
  }

  > :first-child, *[data-row] > :first-child {
    margin-left: 0;
  }
}
